<!-- COMPONENT TEMPLATE FILE -->
<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input (input)="onChangeLength($any($event.target).value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (click)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (click)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (click)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols 
          </label>
        </div>
      </div>

      <div class="field">
      <button 
        [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
        (click)="onButtonClick()"
        class="button is-link is-fullwidth"
        >
        Generate!</button>    <!-- Event Binding(Below is the commented Syntax) -->
      </div>

      <!--
        <button (click)="onButtonClick"></button>
        Where,
        (click) = Name of the event we want to watch for
        onButtonClick = What to do when the button gets clicked. Evaluated as CODE!
      -->

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input  class="input" [value]="password" />     <!-- Property Binding(Below is the commented Syntax) -->
      </div>
    </div>
  </div>
</div>
<!--
  <input [value]="password"></button>
  Where,
  [value] = Name of the property we want to set on this element
  password = Name of the property in our class to put here. Evaluated as CODE!!!
-->

<!-- {{ password }}        String Interpolation -->